includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		- '#^Parameter \#1 \$fp of function (flock|fclose) expects resource, resource\|false given\.$#'
		- '#^Cannot access offset (0|1) on callable\(\)\: mixed\.$#'
