includes:
	- temp/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- temp/phpstan/vendor/phpstan/phpstan-nette/extension.neon
	- temp/phpstan/vendor/phpstan/phpstan-nette/rules.neon
	- temp/phpstan/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		# Typecasting to resource is too complicated
		- '#^Parameter \#1 \$fp of function (flock|fclose) expects resource, resource\|false given\.$#'
